<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
    <form action="join" method="post">
        <fieldset id="join">
            <legend>Join</legend>
            <label for="userId">ID : </label>
            <input type="text" name="userId" id="userId" size="15">
            <br>
            <label for="password">PassWord : </label>
            <input type="password" name="password" id="password" size="15">
            <br>

            <button type="submit">Join</button>
        </fieldset>
    </form>
</body>
</html>