<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${categoryName}"></h1>
<form action="/board/createPost" method="post">


    <fieldset id="create-post">
        <legend>게시물 작성</legend>
        <label for="categoryName">
            <input type="text" id="categoryName" name="categoryName" th:value="${categoryName}"/>
        </label>
        <label for="title">
            <input type="text" name="title" id="title" size="50" required>
        </label>
        <br>
        <label for="content">
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </label>
    </fieldset>

    <button type="submit">저장하기</button>
</form>
</body>
</html>