<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container mt-5">
    <h1 th:text="${categoryName}"></h1>
    <form action="/board/createPost" method="post">

        <fieldset id="create-post">
            <legend>게시물 작성</legend>
            <div class="mb-3">
                <label for="categoryName" class="form-label">Category Name</label>
                <input type="text" id="categoryName" name="categoryName" class="form-control" th:value="${categoryName}"/>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" id="title" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea name="content" id="content" class="form-control" rows="10"></textarea>
            </div>
        </fieldset>

        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
