<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contents</title>
</head>



<body>

<main id="container" style="display: flex; flex-wrap: wrap;">
    <div style="width: 50%;">
        <a class="post-title" href="/board/programming">programing</a>
        <ul id="programming-post-list">
            <!-- 동적으로 업데이트될 프로그래밍 카테고리의 게시글 목록 -->
        </ul>
    </div>
    <div style="width: 50%;">
        <a class="post-title" href="/board/culture">culture</a>
        <ul id="culture-post-list">
            <!-- 동적으로 업데이트될 문화 카테고리의 게시글 목록 -->
        </ul>
    </div>
    <div style="width: 50%;">
        <a class="post-title" href="/board/travel">travel</a>
        <ul id="travel-post-list">
            <!-- 동적으로 업데이트될 여행 카테고리의 게시글 목록 -->
        </ul>
    </div>
    <div style="width: 50%;">
        <a class="post-title" href="/board/food">food</a>
        <ul id="food-post-list">
            <!-- 동적으로 업데이트될 음식 카테고리의 게시글 목록 -->
        </ul>
    </div>
</main>


</body>
</html>