<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contents</title>
</head>



<body>

<main id="container" style="display: flex; flex-wrap: wrap;">

    <div style="width: 50%;">
        <a class="post-title" href="/board/programming">section 1</a>
        <ul>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
        </ul>
    </div>
    <div style="width: 50%;">
        <a class="post-title" href="/board/culture">section 2</a>
        <ul>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
        </ul>
    </div>
    <div style="width: 50%;">
        <a class="post-title" href="/board/travel">section 3</a>
        <ul>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
        </ul>
    </div>
    <div style="width: 50%;">
        <a class="post-title" href="/board/food">section 4</a>
        <ul>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
            <li>
                <div >id="post-info">
                    <div> id="user-info">
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
            <li>
                <div >id="post-info">
                    <div> id="user-info"
                        <a> id="user-profile-img"></a>
                        <a> id="user-id"></a>
                    </div>
                    <div> id="likes"></div>
                </div>
                <div>
                    <a href="#">게시글 제목 1</a>
                </div>
            </li>
        </ul>
    </div>

</main>

</body>
</html>