<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Join</title>
</head>

<script>

    $(document).ready(function() {
        $('#duplicate-check').on('click', function() {
            let userId = $('#userId').val(); // 중복 체크할 아이디 가져오기
            $.ajax({
                url: '/check-duplicate', // 요청 보낼 url
                type: 'POST', // POST 방식으로 요청 보내기
                data: { 'userId': userId }, // 요청 body에 userId 전달
                success: function(response) { // 요청이 성공하면 실행될 함수
                    // console.log(response.isDuplicate)
                    if (!response.isDuplicate) { // 이렇게 뽑아와야한다.
                        alert('중복된 아이디입니다.');
                        //$('#join button[type=submit]').prop('disabled', true); // Join 버튼 비활성화
                    } else {
                        alert('사용 가능한 아이디입니다.');
                        $('#join button[type=submit]').prop('disabled', false); // Join 버튼 활성화
                    }
                },
                error: function() { // 요청이 실패하면 실행될 함수
                    alert('요청이 실패하였습니다.');
                }
            });
        });
    });



</script>

<body>
    <form action="add" method="post">
        <fieldset id="join">
            <legend>Join</legend>
            <label for="username">이   름 : </label>
            <input type="text" name="username" id="username" size="15" required>
            <br>
            <label for="userId">ID : </label>
            <input type="text" name="userId" id="userId" size="15" required>
            <button type="button" id="duplicate-check">중복체크</button>
            <br>
            <label for="password">PassWord : </label>
            <input type="password" name="password" id="password" size="15" required>
            <br>
            <label for="tel">tel : </label>
            <input type="text" name="tel" id="tel" size="15">
            <br>
            <label for="email">email : </label>
            <input type="email" name="email" id="email" size="15">
            <br>

            <button type="submit" disabled>Join</button>
        </fieldset>
    </form>
</body>
</html>