
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">LogIn</h5>
                    <div>
                        <span th:name="loginError" th:text="${loginError}" class="text-danger"></span>
                    </div>
                    <form action="login" method="post">
                        <div class="mb-3">
                            <label for="userId" class="form-label">ID:</label>
                            <input type="text" name="userId" id="userId" class="form-control" size="15">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" name="password" id="password" class="form-control" size="15">
                        </div>
                        <button type="submit" class="btn btn-primary">LogIn</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>