<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WelcomePage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">

</head>

<style>

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .banner {
        width: 15%;
    }

    main{
        width: 70%;
    }


</style>

<body>
<body>


    <div th:replace="~{fragments/header :: header}"></div>

    <div class="wrapper">
        <div class="banner">
            왼쪽 배너 임마
        </div>

        <main th:replace="~{fragments/contents :: main}"></main>

        <div class="banner">
            오른쪽 배너 임마
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>